{% load static %}

<!DOCTYPE html>
<html lang="en">
    <div class='full-container'>
        <head>
            <meta charset="UTF-8" />
            <title>{% block title %} {% endblock %}</title>
            <link rel="stylesheet" href="{% static '../static/lab4.css' %}" />
            <header>
                <!-- <div class='navbar'>
                    <ul>
                        <div class='item'>
                            <li><a href={% url "index_lab4" %}>Table View</a></li>
                            <li><a href={% url "note_list" %}>Card View</a></li>
                            <li><a href={% url "add_note" %}>Add Notes</a></li>
                        </div>
                    </ul>
                </div> -->
            </header>
        </head>
        <body>
            <h1> {% block h1 %} {% endblock %} </h1>
            {% block body %}{% endblock %}
        </body>
    </div>
</html>
    