{% extends 'base.html' %}

<html lang="en">  
    {% block title %} Note Forms {% endblock %}
    {% block h1 %} Add Your Notes {% endblock %} 
    
    {% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Menampilkan form dalam bentuk table dan menyediakan tombol submit -->
        <div class='form'>
            <table>
                <tr>
                    <td>Untuk</td>
                    <td>: {{form.untuk}}</td>
                </tr>
                <tr>
                    <td>Oleh</td>
                    <td>: {{form.oleh}}</td>
                </tr>
                <tr>
                    <td>Judul</td>
                    <td>: {{form.judul}}</td>
                </tr>
                <tr>
                    <td>Pesan :</td>
                </tr>
                
            </table>
                {{form.pesan}}
            <br/>
            <br/>
            <input type="submit" value="Submit">
        </div>
    </form>
    {% endblock %}  
</html> 
