{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    {% block title %} Note {% endblock %}
    {% block h1 %} List Of Notes {% endblock %}
    
    {% block body %}
    <div class='table-container'>
        <table class="content">
            <thead>
                <tr>
                <td>From</td>
                <td>To</td>
                <td>Title</td>
                <td>Message</td>
                </tr>
            </thead>
            <tbody>
                <!-- menyajikan data HTML dalam bentuk HTML dengan template sesuai dengan friend_list.html pada lab 1 -->
                {% if notes %}
                    {% for note in notes %}
                    
                    <tr>
                        <td>{{note.oleh}}</td>
                        <td>{{note.untuk}}</td>
                        <td>{{note.judul}}</td>
                        <td>{{note.pesan}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            </table>
        </div>
        {% endblock %}
</html>
    