{% extends 'base.html' %}
<!DOCTYPE html>

<html lang="en">
    {% block title %} Cards {% endblock %}
    {% block h1 %} Card Notes {% endblock %}
  
    {% block body %}
    <div class="container">
        
        {% if notes %}
            {% for note in notes %} 
            <div class="card-container">
                <div class='card-notes'>
    

                    <div class='front'>
                        </br>
                        From: 
                        </br>
                        <span class='title2'>{{note.oleh}}</span>
                        </br>
                        </br>
                        To:
                        </br>
                        <span class='title2'>{{note.untuk}}</span>
                    </div>
                

               
                    <div class='back'>
                        </br>
                        <span class='title'>{{note.judul}}</span>
                        </br>
                        </br>
                        {{note.pesan}}
                        </br>
                    </div>

             
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
       

    {% endblock %}
</html>
    