
/* Untuk background */
.full-container {
    /* background-image: url('https://images.unsplash.com/photo-1606140997117-cc3f4f28ba88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1515&q=80');
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: aliceblue;
}



/* Referensi: https://www.w3schools.com/css/css_navbar_horizontal.asp 
Menghilangkan default style dari ul, kemudian membuat item pada li menjadi ke samping*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #388697;
}
.item li {
    float: left;
}
.item a{
    display: block;
    padding: 12px;
    font-family: sans-serif;
    color: white;
}
.item a:link {
    text-decoration: none;
}

.item a:hover {
    background-color: rgb(196, 196, 196);
    color: black;
}
.item a:active {
    background-color: rgb(51, 51, 51);
    color: white;
}
/* Styling untuk judul halaman */
h1 {
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: whitesmoke;
}

/* Styling table view untuk daftar notes */
.table-container {
    padding-bottom: 100px; 
}
.content {
    border-collapse: collapse;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 20px rgb(70, 69, 69);
}

.content thead tr{
    background-color: #388697;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 12px 15px;
    font-size: 16px;


}
.content thead td {
    min-width: 150px;

}

.content tr{
    background-color: white;
    text-align: left;
    border-bottom: 1px solid rgb(196, 196, 196);
    transition: 0.3s;    

}
.content tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
/* Membuat transisi untuk hover */
.content tr:hover {
    background-color: #5395a3;
    color: white;
}

.content td {
    padding: 12px 15px;
}
.content td:last-of-type {
    min-width: 300px;
}
.content tr:last-of-type {
    border-bottom: 3px solid #388697;
}

/* Menyusun container untuk card */
.container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
}
/* Styling card view untuk daftar notes */
.card-container {
    background-color: rgb(51, 51, 51);

}

.card-notes {
    font-family: sans-serif;
    width: 18rem;
    text-align: center;
    font-size: 14px;
    color: white;
    box-shadow: 0px 0px 20px rgb(70, 69, 69);
}

/* Referensi animasi untuk transisi card: 
https://stackoverflow.com/questions/33057737/css-replacing-a-text-on-hover-but-smooth-transition-to-the-new-text-does-not-w 
Ketika kursor sedang hover di atas suatu card, maka halaman front akan "dihilangkan" dengan membuat 0 untuk height dan width
Kemudian, begitu juga sebaliknya*/
.front, .back {
    overflow: hidden; 
    transition: width 0.6s ease-in-out;
}
.front{
    background-color: #5395a3;
    height: 10rem;
    width: 18rem;
    opacity: 1;
}
.back {
    background-color: rgb(51, 51, 51);
    height: 0rem;
    width:0rem;
    opacity: 0;
} 

.card-notes:hover .back {
    opacity: 1;
    height: 10rem;
    width: 18rem;
}
.card-notes:hover .front {
    opacity: 0;
    height: 0rem;
    width: 0rem;
}
/* Styling konten pada card */
.title {
    font-size: 16px;
    font-weight: bold;
    color: #5395a3;
}

.title2 {
    font-size: 16px;
    font-weight: bold;
    color: white;
}
/* Styling untuk form pengisian notes */
.form {
    font-family: sans-serif;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    padding-bottom: 20%;

}
input[type=text] {
    border-radius: 5px;
    width: 100px;
    transition: width 0.6s ease-in-out;
}
input[type=text]:focus {
    width: 250px;
}

@media only screen and (max-width: 600px) {
    .full-container {
      background-color: lightblue;
    }
  }
