<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List Form</title>
    <style>
      table, th, td {
      border: 1px solid black;
      width: 40%
      }
    </style>
  </head>
  <body>
    <h1>List of Friends</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- melakukan validasi: apakah input yang dimasukkan merupakan object Friend dengan variabel friends
           kemudian looping: menyesuaikan kolom setiap nama, npm, dan dob dimasukkan, kemudian menambahkan baris
           akses diambil dengan mengambil atribut yang dibuat pada models.py -->
      {% if friends %}
        {% for person in friends %} 
          <tr>
            <td>{{ person.name}}</td>
            <td>{{ person.npm}}</td>
            <td>{{ person.dob}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
