<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Friend Form</title>  
</head>  
<body> 
    <h1>Add Your Friend</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Menampilkan form dalam bentuk table dan menyediakan tombol submit -->
        <table>
            <tr>
                <td>Name</td>
                <td>: {{form.name}}</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>: {{form.npm}}</td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>: {{form.dob}}</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>  
</html> 
