<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
        <!--membuat border tabel menjadi berwarna hita, -->
        <style>
            table, th, td {
 	 		border: 1px solid black;
			}
        </style>
    </head>
    <body>
        <table>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Title</th>
              <th>Message</th>
            </tr>
            <!-- menyajikan data HTML dalam bentuk HTML dengan template sesuai dengan friend_list.html pada lab 1 -->
            {% if notes %}
                {% for note in notes %} 
                <tr>
                    <td>{{note.oleh}}</td>
                    <td>{{note.untuk}}</td>
                    <td>{{note.judul}}</td>
                    <td>{{note.pesan}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>
    