<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- melakukan validasi: apakah input yang dimasukkan merupakan object Friend dengan variabel friends
           kemudian looping: menyesuaikan kolom setiap nama, npm, dan dob dimasukkan, kemudian menambahkan baris
           akses diambil dengan mengambil atribut yang dibuat pada models.py -->
      {% if friends %}
        {% for person in friends %} 
          <tr>
            <td>{{ person.name}}</td>
            <td>{{ person.npm}}</td>
            <td>{{ person.dob}}</td>
          </tr>
        {% endfor %}
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
